<html>
  <head>
    <title>Notes</title>
  </head>
  <body>
    <h1>Admin</h1>
    Welcome to the admin page
    <!-- <button type="button" onclick="location.href='/admin'">Go to Admin Page</button> -->
  </body>
</html>
