<!-- views/notes.ejs -->
<html>
  <head>
    <title>Notes</title>
  </head>
  <body>
    <h1>Users</h1>
    Welcome to the user page
    <button type="button" onclick="location.href='/admin'">Go to Admin Page</button>
    <% if (typeof message !== 'undefined') { %>
        <p><%= message %></p>
      <% } %>
  </body>
</html>
